/*  RESPONSIVE
===============================================
Escritorios muy Grandes
---------------------------------------------- */
@media (min-width: 1200px) {}

/* Tablets en Horizontal y Escritorios Normales
---------------------------------------------- */
@media (min-width: 768px) /* and (max-width: 1199px) {*/{}

/* Moviles en Horizontal o Tablets en Vertical
---------------------------------------------- */
@media (max-width: 767px) {}

/* Moviles en Vertical
---------------------------------------------- */
@media (max-width: 480px) {
    .el-menu li {display: none;}
    .el-menu li a.fa-bars {
      float: right;
      display: block;
    }
    .el-menu.responsive {position: relative;}
    .el-menu.responsive li a.fa-bars {
      position: absolute;
      right: 0;
      top: 0;
    }
    .el-menu.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
    .el-footer {
        display: none;
      }
  }

@media screen and (max-width: 600px) {
    .el-menu li {display: none;}
    .el-menu li a.fa-bars {
      float: right;
      display: block;
    }
    .el-menu.responsive {position: relative;}
    .el-menu.responsive li a.fa-bars {
      position: absolute;
      right: 0;
      top: 0;
    }
    .el-menu.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
    .el-footer {
        display: none;
      }
  }
